@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  font-family: 'Quicksand';
  font-weight: bold;
}
*:focus {
  outline: none;
}
body {
  background: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
  background-attachment: fixed;
  background: white;
  overflow-x: hidden;
}
.button {
  background-color: rgb(98, 98, 235);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1rem;
}
.button:hover {
  cursor: pointer;
}
.hover:hover {
  cursor: pointer;
}
#needtosignin {
  display: none;
  flex-direction: column;
  padding: 2rem 3rem;
  border: 3px solid rgb(98, 98, 235);
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(237, 122, 122);
  display: flex;
  font-size: 1.5rem;
  color: white;
  border-radius: 20px;
  animation: popup 2s linear;
  top: -5rem;
  padding: 0.5rem 3rem;
  z-index: 2;
  text-align: center;
}
@keyframes popup {
  0% {
    top: -5rem;
  }
  15% {
    top: 2rem;
  }
  85% {
    top: 2rem;
  }
  100% {
    top: -5rem;
  }
}

#header {
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: rgb(232, 232, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(98, 98, 235);
  font-size: 1.8rem;
  box-shadow: 0 2px 20px 0  rgb(78, 78, 80);
}
.header_item:hover {
  cursor: pointer;
  text-decoration: underline;
}
#header_left {
  width: 12%;
  height: 100%;
}
#header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 350px;
  height: 100%;
}
#header button {
  padding: 0.5rem 1rem;
}
.mobile {
  display: none;
}
#cart_icon--container:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#cart_amount {
  position: absolute;
  right: -10px;
  top: 20px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  border-radius: 50%;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_alert {
  position: fixed;
  display: flex;
  background: white;
  width: 300px;
  height: 12vh;
  top: 10vh;
  padding: 2%;
  box-shadow: 5px 5px 10px 5px rgb(184, 182, 182);
  right: 0;
  transform: translateX(100%);
  animation: slidein 4s linear;
  border-radius: 10px;
}
@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-5%);
    display: none;
  }
}
.bottom {
  width: 100%;
  height: 5%;
  padding: 0 2%;
  position: absolute;
  bottom: 0;
  background: gray;
  animation: bottomout 4s linear;
}
@keyframes bottomout {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

#welcome {
  width: 100%;
  margin: auto;
  background-color: rgb(239, 231, 244);
  color: rgb(98, 98, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome_library--background {
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
  background-attachment: fixed;
}
#welcome_top {
  font-weight: bold;
  width: 100%; 
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
#welcome_top :nth-child(1) {
  font-size: 2.5rem;
  height: 1rem;
  font-weight: 'bold';
  width: 100%;
  text-align: center; 
}
#browsebooks {
  margin-bottom: 10vh;
}
#searchbar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, rgb(154, 151, 151), rgb(239, 231, 244));
  width: 100%;
  padding: 2rem 0;
}
#searchbar {
  width: 50%;
  height: 7vh;
  margin: auto;
  display: flex;
  align-items: center;
  color: rgb(95, 90, 90);
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  padding-left: 1rem;
}
#searchbar input {
  width: 90%;
  font-size: 1.2rem;
  border: none;
  margin-right: 0.8rem;
}
#searchbar input:focus {
  border: none;
  background: white;
}
#magnify {
  font-size: 1.5rem;
}
#search_results {
  position: absolute;
  display: none;
  margin-top: 2vh;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1% 0;
  background: aliceblue;
  top: 10vh;
  z-index: 2;
  color: black;
  text-align: center;
}
.option:hover {
  background: rgb(214, 208, 208);
  cursor: pointer;
}

#highlights {
  position: relative;
  top: -120px;
  width: 100%;
  margin-bottom: -80px;
}
#highlights_container {
  position: relative;
  top: -50px;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-column-gap: 10%;
  grid-template-rows: 80%;
  justify-content: center;
}
.highlight_img--container {
  padding: 2.5rem;
  border: 2px solid rgb(206, 150, 240);
}
.highlight_icon {
  color: rgb(164, 58, 225);
  font-size: 2rem;
}
.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 1.2rem;
}
.highlight :nth-child(3) {
  font-weight: 500;
}
.wave {
  width: 120vw;
}

#featureddeal {
  display: flex;
  width: 100%;
  height: 98vh;
}
#featured {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 232, 253);
}
#swiper {
  margin-top: 3vh;
  width: 60%;
  height: 80%;
}
img {
  width: 100%;
  height: 100%;
}
#featured_title {
  font-size: 3rem;
  height: 1rem;
  margin-top: 1%;
}
#deal {
  position: relative;
  margin-bottom: 50vh;
  background: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
#deal img {
  width: 70%;
  height: 60%;
}
#code {
  position: absolute;
  width: 80%;
  top: -30px;
  right: 0;
  padding: 1% 2%;
  border-radius: 10px;
  font-size: 1.2rem;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discounts {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#discount_books {
  width: 100%;
  height: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 5%;
}
.discount_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.discount_book p {
  margin-top: 2%;
  margin-bottom: 2%;
}
.discount_img {
  width: 100%;
  height: 70%;
}
#discount_price {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#books {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 20vh;
}
#allbooks {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#sort_container {
  width: 24%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
option {
  font-size: 0.9rem;
}
#books_container {
  width: 100%;
  display: grid;
  padding-top: 5vh;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: 23%;
  grid-row-gap: 10%;
  grid-column-gap: 5%;
}
.book {
  position: relative;
  bottom: 0;
  transition: all 400ms ease;
}
.book:hover {
  position: relative;
  bottom: 2vh;
}

#footer {
  color: white;
  background-color: rgb(43, 34, 34);
  display: flex;
  height: 30vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
#footer div {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
#footer div p {
  font-size: 1.25rem;
}
#footer div p:hover {
  cursor: pointer;
  text-decoration: underline;
}
#copyright {
  font-size: 1rem;
}

#cart {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}
#cart_info {
  display: flex;
  width: 78%;
  font-size: 1.2rem;
  padding: 0 6%;
  justify-content: space-between;
}
#cart_checkout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#cart_left {
  width: 60%;
}
#cart_right {
  width: 30%;
  border: 1px solid rgb(194, 192, 192);
}
#cart_item--price {
  position: absolute;
  top: 5%;
  left: 75%;
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
}
#total {
  padding-left: 10%;
  font-size: 1.5rem;
}
#promo input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1% 1%;
}
#promo button {
  box-sizing: border-box;
  margin-left: 5px;
  border: 1.5px solid rgb(98, 98, 235);
  color: rgb(98, 98, 235);
  background: white;
  border-radius: 5px;
  padding: 1% 4%;
}
#payment {
  display: none;
  position: fixed;
  width: 28%;
  height: 90vh;
  border: 2px solid gray;
  background: white;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  padding: 0 5%;
}
#payment p {
  font-weight: 100;
  margin-bottom: 0;
}
#payment_message {
  position: absolute;
  top: 10%;
  right: 8%;
  width: 30%;
  font-weight: bold;
  font-size: 2rem;
  color: red;
}
#empty {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}
.cart_book {
  position: relative;
  padding: 2%;
  height: 25vh;
  width: 100%; 
  border-top: 1.5px solid rgb(193, 185, 185);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_book--book {
  width: 80%;
  height: 100%;
  display: flex;
}
.cart_book--book img {
  width: 25%;
}
.cart_book--book div {
  margin-left: 3%;
}
.quantity {
  display: flex;
  width: 13vw;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.gray {
  color: gray;
}
.remove {
  color: rgb(232, 118, 118);
  font-size: 0.9rem;
}
.remove:hover {
  cursor: pointer;
  text-decoration: underline;
}

#bookinfo {
  display: flex;
  padding-top: 10vh;
  padding-bottom: 5vh;
  flex-direction: column;
}
#bookinfo_first {
  display: flex;
}
#bookinfo_left {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 50vh;
}
#bookinfo_left img {
  width: 60%;
  height: 80%;
}
#bookinfo_right { 
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1.2rem;
}
#buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#buttons p:hover {
  text-decoration: underline;
  cursor: pointer;
}
#buttons_button--left {
  display: flex;
  width: 50%;
  align-items: center;
}
#leftarrow {
  margin-right: 5%;
}
#bookinfo_second {
  display: flex;
  flex-direction: column;
}
.review_links {
  font-size: 1rem;
  color: rgb(235, 182, 84);
}
.review_links:hover {
  cursor: pointer;
  text-decoration: underline;
}
#reviews {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70vh;
  border: 5px solid rgb(98, 98, 235);
  background: white;
  padding: 1.5rem;
  display: none;
  overflow-y: auto;
  z-index: 1;
}
#reviews form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#deletereview {
  margin-left: 1rem;
}
#deletereview_mobile {
  display: none;
}
#reviewrating {
  display: none;
}
#reviewrating_mobile {
  display: flex;
}
#reviewrating {
  margin-left: 1rem;
  width: max-content;
}
#writereview {
  width: 70%;
  height: 20vh;
  border: 2px solid black;
  resize: none;
  font-size: 1.5rem;
  margin-top: 2rem;
}
#rating {
  margin-top: 1rem;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  font-size: 1.2rem;
}
#amountofreviews {
  margin-left: 3rem;
  font-size: 1.5rem;
}
#rating select {
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 1rem;
}
#reviews input {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.review {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.review_top {
  display: flex;
  width: max-content;
  justify-content: space-between;
  align-items: center;
}
.review_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.review img {
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
#recommended_title {
  margin-left: 5rem;
  font-size: 2rem;
}
.recommended {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: 80vh;
  justify-content: center;
  grid-gap: 3%;
  font-size: 1.2rem;
}
.rbook {
  display: flex;
  flex-direction: column;
}
.rbook img {
  height: 60%;
}


#search_top {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  font-size: 1.3rem;
}
#backtohome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  font-weight: bold;
}
#backtohome:hover {
  cursor: pointer;
}
#results {
  width: 90%;
  margin: auto;
}
.result_item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1.5px solid rgb(178, 175, 175);
}
.result_item--img {
  width: 15%;
  height: 70%;
}
.result_item--img p {
  display: none;
}
.result_item--info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2% 0;
}


@media (max-width: 800px) {
  html, body {
    overflow-x: hidden;
  }
  #header {
    position: relative;
    font-size: 1.2rem;
    width: 100%;
    height: 100px;
  }
  #header img {
    width: 30%;
    height: 80px;
  }
  #header_right {
    display: none;
  }
  .mobile {
    display: block;
  }
  #header_right_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 1rem;
  }
  .header_mobile_menu {
    visibility: none;
    display: flex;
    position: absolute;
    padding-top: 2rem;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    top: 6rem;
    left: 0;
    z-index: 2;
    background: rgb(73, 70, 70);
    color: white;
    font-size: 2rem;
    opacity: 0;
    transform: translateX(100%);
    transition: all ease 300ms;
  }
  #header_burger {
    font-size: 2rem;
  }
  .visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  .link {
    color: white;
  }
  #browsebooks {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 6vh;
  }


  #welcome_top {
    width: 100%;
    font-size: 1rem;
  }
  #searchbar {
    width: 80%;
    height: 50px;
    padding-right: 5%;
  }
  #welcome_top :nth-child(1) {
    font-size: 1.5rem;
    text-align: center;
  }
  #welcome_top :nth-child(2) {
    margin-top: 2rem;
  }
  #featured_title {
    font-size: 2rem;
  }
  #featureddeal {
    flex-direction: column;
  }
  #featured, #deal {
    width: 100%;
    height: 80vh;
  }
  #deal h1 {
    font-size: 2rem;
  }
  #discount_books {
    grid-template-columns: repeat(2, 30%);
    grid-column-gap: 10%;
  }
  #discounts {
    margin-top: 60vh;
    margin-bottom: 5vh;
  }
  #discount_price {
    flex-direction: column;
  }
  #bookinfo {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
  }
  #allbooks {
    flex-direction: column;
  }
  #sort_container {
    margin-left: 5%;
  }
  #sort_container p {
    margin-right: 20%;
  }
  #buttons {
    width: 100%;
  }
  #buttons p {
    text-align: left;
    width: max-content;
  }
  #buttons_button--left {
    width: 50%;
  }
  #bookinfo_first {
    flex-direction: column;
    align-items: center;
  }
  #bookinfo_left {
    width: 70%;
    height: 40vh;
  }
  #bookinfo_right {
    width: 80%;
    position: relative;
    top: -40px;
    font-size: 1rem;
  }
  #recommended_title {
    font-size: 1.2rem;
    margin-left: 3rem;
    text-align: left;
  }
  #amountofreviews {
    text-align: left;
    margin-left: 0;
    margin-top: 1rem;
  }
  #deletereview {
    display: none;
  }
  #deletereview_mobile {
    display: block;
    text-align: left;
    margin: 0;
    font-size: 1rem;
  }
  #rating {
    font-size: 1rem;
  }
  #rating select {
    font-size: 1rem;
  }
  .review {
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .recommended {
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 60vh;
    font-size: 1rem;
  }
  .recommended p {
    margin: 0.5rem;
  }
  #books_container {
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: 12%;
    grid-column-gap: 7%;
    grid-row-gap: 10%;
  }
  #empty {
    width: 80%;
  }
  #search_results {
    top: 80px;
    width: 80%;
  }
  #code {
    top: 80vh;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    text-align: center;
  }
  #deal p {
    text-align: center;
    padding: 0 2%;
  }
  #highlights {
    top: -40px;
    grid-column-gap: 0;
  }
  #highlights_container {
    grid-template-columns: 80%;
    grid-template-rows: repeat(3, 50%);
  }
  .highlight {
    position: relative;
    top: -5vh;
  }
  #highlights_container :nth-child(2) {
    top: -23vh;
  }
  #highlights_container :nth-child(3) {
    top: -40vh;
  }
  #cart_checkout {
    flex-direction: column;
  }
  #cart_left, #cart_right {
    width: 100%;
  }
  #cart_item--price {
    left: 65%;
  }
  .cart_book--book {
    flex-direction: column;
  }
  .cart_book--book img {
    position: relative;
    left: 20%;
    width: 40%;
    height: 50%;
  }
  .cart_book {
    height: 40vh;
  }
  .quantity {
    width: 50%;
    justify-content: space- between;
  }
  .button {
    padding: 4% 8%;
  }
  #payment {
    width: 80%;
    font-size: 1.2rem;
  }
  #payment_message {
    font-size: 1.3rem;
  }
  .result_item {
    flex-direction: column;
  }
  .result_item--img {
    margin-top: 10px;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
  }
  .result_item--img img {
    width: 30%;
    margin-right: 1rem;
  }
  .result_item--img p {
    display: block;
  }
  .result_item--info :nth-child(1) {
    display: none;
  }
  .result_item--info :nth-child(3) {
    margin-top: 0;
  }
  #footer div {
    width: 70%;
  }
  #search_top {
    padding: 1.5rem 0 0 0;
    margin-left: 3rem;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  #backtohome {
    width: 45%;
  }
}